* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background-color: coral;
}

p {
  color: beige;
}

ul {
list-style-type: none;
}

input:invalid {
   border: 2px dashed red;
 }

input:invalid:required {
   background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
   border: 2px solid black;
}