<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Album List</h1>
<h2>These are list of some of my favorite songs.</h2>
<ul>
    <li th:each="album : ${albums}">
        <p th:text="${album.title}"></p>
        <img th:src="${album.imageURL}" alt="album image">
        <p><span th:text="${album.artist}"></span></p>
        <p>Song Count: <span th:text="${album.songCount}"></span></p>
        <p>Length of album in second: <span th:text="${album.length}"></span></p>

<!--        Remove an album-->
        <form th:action="'/albums/delete/' + ${album.albumId}" method="post">
            <button type="submit">Remove</button>
        </form>
    </li>
</ul>

<h2>Add Album</h2>
<form action="/albums" method="post">
    Title:<br>
    <input type="text" name="title" required>
    <br>
    Artist:<br>
    <input type="text" name="artist" required>
    <br>
    Song Count:<br>
    <input type="text" name="songCount" required>
    <br>
    Length:<br>
    <input type="text" name="length" required>
    <br>
    Image URL:<br>
    <input type="text" name="imageURL" required>
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>